.search-container {
  position: relative;
}

.search-container__btn {
  background-color: inherit;
  border: none;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-dark);
}

.searc-container__input {
  position: absolute;
}
.searchbar {
  height: 2rem;
  border-radius: 4px;
  border: var(--color-border) 1px solid;
  padding: 1rem 0.5rem;
  width: 25em;
  background-color: var(--color-light);
}

.search-button__icon {
  background-color: red !important;
}

@media screen and (max-width: 350px) {
  .searchbar-small {
    display: none !important;
  }
}

@media screen and (max-width: 1026px) {
  .searchbar {
    width: 15rem;
  }
}
