*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed", sans-serif;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

p {
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}
.text-sm {
  font-size: 1rem;
}

.text-size-p {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}
