.post-bio {
  background-color: var(--color-light);
}

.bio-header-color {
  width: 100%;
  height: 30px;
}

.bio-button {
  width: 100%;
  color: var(--color-light);
}

.bio-pfp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--color-light);
  border: solid 1px var(--color-light);
  filter: brightness(96%);
  border-radius: 100%;
  margin-right: 1rem;
  transform: translateY(-1rem);
}

.bio-pfp img {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  border: solid 2px var(--color-light);
}

.bio-avatar {
}
