.post-card {
  background-color: var(--color-light);
  border-radius: 8px;
  border: solid 1px var(--color-gray);
  overflow: hidden;
}

.post-card-container {
  padding: 0.9rem;
}

.post-card-pfp {
  width: 3rem;
  height: 3rem;
  background-color: var(--color-light);
  filter: brightness(96%);
  border-radius: 100%;
  margin-right: 1rem;
}

.post-card-header {
  margin-left: 7%;
}

.post-card-main {
  margin-left: 0%;
}

.post-header-link {
  color: inherit;
  text-decoration: none;
}

.post-card-image img {
  object-fit: cover;
  object-position: center;
  max-height: 400px;
}

.post-like,
.post-comment {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}

.post-like:hover,
.post-comment:hover {
  background-color: var(--color-gray);
}

@media screen and (min-width: 390px) {
  .post-card-container {
    padding: 1.4rem;
  }

  .post-card-main {
    margin-left: 7%;
  }
}
