.post-sidebar {
  margin-top: 2rem;
  list-style-type: none;
  padding-left: 0;
}

.post-sidebar li:not(:last-child) {
  margin-bottom: 4rem;
}

.text-like,
.text-like:hover {
  color: #dc2626;
}

.text-special_like,
.text-special_like:hover {
  color: #059669;
}

.text-save,
.text-save:hover {
  color: #4f46e5;
}
