.navbar {
  max-height: 4rem;
  padding-block: 0.4rem;
  margin-bottom: 1rem;
  border-bottom: rgb(190, 190, 190) 1px solid;
  background-color: var(--color-light);
}

.navbar > div {
  padding: 0;
}

.navbar__logo {
  font-size: 1.563rem;
  margin-right: 1.3rem;
  margin-bottom: 0;
  color: inherit;
  text-decoration: none;
  color: var(--color-dark);
}

.navbar__logo:hover {
  color: inherit;
  text-decoration: none;
}

.navbar__profile-container {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar__profile-container i {
  margin-inline: 1rem;
}

.profile-picture {
  border-radius: 50%;
  border: solid 1px;
  width: 2em;
  height: 2em;
}

.navbar > div {
  display: flex;
  align-items: center;
}

.color-mode-toggle {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__modal {
  position: absolute;
  display: block;
  left: 50%;
  top: 150%;
  background-color: var(--color-light);
  padding: 0.8rem;
  width: 12rem;
  color: var(--color-dark);
}

.navbar__modal ul {
  list-style-type: none;
  padding: 0;
}

.navbar__modal ul li,
.navbar__modal ul li a,
.navbar__modal a {
  padding: 0.4rem 1rem;
  border-radius: 3px;
  color: inherit;
  text-decoration: none;
}

.navbar__modal ul li:hover {
  background-color: var(--color-main-hover);
  color: var(--color-main);
  text-decoration: underline;
}
