*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-light-darker: #f5f5f5;
  --color-gray: #dbdbdb;
  --color-main: #206eaa;
  --color-main-hover: #9cc2e0;
  --color-border: #dee2e6;
  --font-lg: 3.052rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-light-darker);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  color: var(--color-dark);
}

h1 {
  font-size: var(--font-lg);
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

textarea {
  font-size: 1.25rem;
}

.text-sm {
  font-size: 1rem;
  margin-bottom: 0;
}

.text-size-p {
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin-inline: 10%;
}

.container-lg {
  margin-inline: 17%;
}

.text-container {
  width: 100%;
}

input {
  background-color: var(--color-light);
}

/* Resets */
.text-dark {
  color: var(--color-dark) !important;
}
.border {
  border-color: var(--color-border) !important;
}

.rounded {
  border-color: var(--color-border) !important;
}
